{% extends 'v2/auth/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block links %}

{% endblock %}

{% block content %}
    <div class="auth">
        <div class="auth__container">
            <div class="auth__logo text-center">
                <img src="{% static "images/pages/auth/auth-logo.svg" %}" alt="Логотип" loading="lazy" width="157"
                     height="49">
            </div>
            <form class="auth__form" action="{% url 'platform_main:login' %}" method="post" novalidate>
                {% csrf_token %}
                <h1 class="auth__title big-title text-center">Login</h1>
                <p>
                    {% if message %}
                        {{ message }}
                    {% endif %}
                </p>
                <input class="auth__input input input_big" type="text" placeholder="Email" name="email">
                <input class="auth__input input input_big" type="password" placeholder="Password" name="password">

                <button class="auth__button button button_yellow" type="submit">sign in</button>
                <!--if you need to use actions form delete link under and uncomented code up-->
                {#                <a class="auth__button button button_yellow" href="user-index.html">sign in</a>#}

                <div class="auth__bottom descr">
                    <div class="auth__bottom-text">No account?</div>
                    <a class="auth__bottom-link" href="{% url 'platform_main:register' %}">Register</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}