.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: gray;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 10px;
}

.navigation a {
    text-decoration: none;
    color: gray;
}

.user-info {
    display: flex;
    align-items: center;
}

.balance {
    margin-right: 10px;
}

.username {
    font-weight: bold;
    color: gray;
}

.logo {
    height: 50px;
    width: 200px;
    background-image: url('../logo.jpg');
    background-size: cover;
    padding: 10px;
}

.user-info a {
    color: #FFFFFF;
    text-decoration: none;
}