{% load static %}
<header class="header">
    <div class="header__container container">
        <a class="header__logo" href="{% url 'platform_main:admin_home' %}">
            <img src="{% static 'images/logo.svg' %}" alt="Логотип" loading="lazy" width="157" height="49">
        </a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="{% url 'platform_main:admin_home' %}"> Home </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="{% url 'platform_main:admin_total_statistics' %}">
                        Statistics
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="{% url 'platform_main:admin_campaigns_list' %}">
                        Campaign
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="{% url 'platform_main:admin_sources_prices' %}">
                        Click prices
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="{% url 'platform_main:admin_list_invoices' %}">
                        Invoices
                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="{% url 'platform_main:admin_sources_list' %}"> Sources </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="{% url 'platform_main:admin_accounts_list' %}">
                        Accounts
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header__info">
            <div class="header__user">
                <svg class="sprite header__user-icon" viewBox="0 0 24 24" width="24" height="24">
                    <use href="{% static 'images/sprite.svg' %}#user-shield"></use>
                </svg>
                <div class="header__content">
                    <div class="header__name">{{ request.user.name }}</div>
                    <div class="header__mail small-text">{{ request.user.email}}</div>
                </div>
            </div>

            <!-- if you need to use button just uncomment under code -->
            <!--<button class="header__logout">
              @<svg class="sprite header__logout-icon" viewBox="0 0 24 24" width="24" height="24">
          <use href="img/sprite.svg#logout"></use>
      </svg>
            </button>-->
            <a class="header__logout" href="{% url 'platform_main:logout' %}" aria-label="Logout">
                <svg class="sprite header__logout-icon" viewBox="0 0 24 24" width="24" height="24">
                    <use href="{% static 'images/sprite.svg' %}#logout"></use>
                </svg>
            </a>
        </div>
    </div>
</header>