{% load rest_framework %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/authorized_header.css">
    <title>
        {% block title %} Base {% endblock %}
    </title>
</head>
{% block scripts %}{% endblock %}
<header class="header">
    <div class="logo"></div>
    <nav class="navigation">
        <ul class="menu">
            <li><a href="/total_statistics">Statistics</a></li>
            <li><a href="/campaigns/list">Campaigns</a></li>
            <li><a href="{% url 'platform_main:user_invoices_list' %}">Invoices</a></li>
        </ul>
    </nav>
    <div class="user-info">
        {% if user %}
            <span class="balance">Balance: ${{ user.balance }}</span>
            <a href="/home">
                <span class="username">{{ user.email }}</span>
            </a>
            <form action="{% url 'platform_main:logout' %}" method="post">
                {% csrf_token %}
                <button>Logout</button>
            </form>
        {% endif %}
    </div>
</header>
{% block content %}
{% endblock %}